#header1
    {

                    position: fixed;
                    width: 100%;
                    height: 15%;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color:yellow;
                    z-index: 9999999999999999999;
                    
    }
     .headr2{
                    font-family: roboto;
                    font-size: 30px;
                    font-weight: bold;
                    text-align: left;
                    color:red;
                    text-shadow: 2px 4px 5px pink;  
                  
                    position: fixed;
                    top: 22px;
                    left: 43%;
                    right: 0;
    }
    #header3
    {

                    position: fixed;
                    width: 100%;
                    height: 25px;
                    top: 15%;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: blue;
                    z-index: 99999999999999;
                    
    }
    .headr4{
                    font-family: roboto;
                    font-size: 30px;
                    font-weight: bold;
                    text-align: left;
                    color:red;
                    text-shadow: 2px 4px 5px pink;  
                    text-align:center;
                    position: fixed;
                    top: 06%;
                    left: 0;
                    right: 0;
                    
    }
    .a01 {
                   
                    margin-top:07%;
                    right: 20;
                    width: 100%;
                    border-color: red;
                    height: 100%;
    }

  h2
        {
             height: 100%;
             text-align: center;
             top: 15%;
        }
    h3               /*table format*/
    {
                    margin-top:07%;
                    right: 20;
                    width: 100%;
                    font-weight: bold;
                    border-color: red;
                    height: 100%;
                    text-align: center;
                    color: darkred;
                    font-size: 28px; 
}
price
{
  color: grey;
  font-size: 22px;
}

    #button1
                {        
                 border: none;
                 border-radius: 10px;
                 outline: 0;
                 padding: 12px;
                 text-align: center;
                 cursor: pointer;
                 font-size: 18px;       
                 background-color:red;
                
                 }

button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

#q1{
  color: :red;
                    border-color: red;
                  
                    text-align: center;
}
